@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s linear;
}
body{
    /* background: #dbdbdb; */
    /* background: linear-gradient(360deg,#0015ffb6); */
    scroll-behavior: smooth;
    transition: all 0.5s ease;
    background: linear-gradient(to top,#d4dbdbf2,#d4dbdbf2), linear-gradient(to bottom,#e1ecebe3,#ffffff);
}
.header{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #190453;
    /* background: #ffffff; */
    margin: 0;
    padding: 1rem 1rem;
}
.header.active{
    /* padding:2rem 9%; */  
    padding: 0px 1.5rem;
    height: 5.3rem;
    box-shadow: var(--box-shadow);
}
.header .logo{
    display:block;
    justify-content:center;
    position:relative;
    align-items: center;
    /* top:-2vh; */
    margin: 0;
    padding: .1rem .4rem;
    font-size: 1.2rem;
    color:var(--black);
    font-weight: bold;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;

}

.header .logo span{
    color:red;
}
.header .navbar{
    margin: 0;
    padding: 1rem 1rem;
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 2rem;
    /* background-color: red; */
}
.header .navbar a{
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
    /* background-color: red; */
    border-bottom: 2px solid #190453;
    margin: 0;
    padding: .3rem .2rem;
    cursor: pointer;
    transition: all 0.5s ease;

}
.header .navbar a:hover{
    color: #fff41b;
    border-bottom: 2px solid red;
}

.search_icons_container{
    /* position:relative; */
    /* top: 5rem; */
    padding: 0 10rem 0rem 10rem;
    /* background: linear-gradient(0deg, #f8f8f886, #eaeaea72); */
}
.search_icons_container .search_icons{
    margin:0;
    padding: 0 1rem 2rem 1rem;
    /* background-color: red; */

}
.search_icons_container .search_icons .search_heading{
    padding: 2rem 1rem 1rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;    
    /* background-color: rgb(26, 255, 0); */

}
.search_icons_container .search_icons .search_form{
    margin: 0 .3rem;
    padding: 0 1rem;
    position: relative;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    /* background-color: yellow; */
    /* width: 50rem; */
}
.search_icons_container .search_icons .search_form .search_input{
    margin: 0 .3rem 0 0;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 30rem;
    min-width: 10rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: none;
    border: 1px solid #cccccc;
    box-shadow: 2px 3px 4px #c2c2c2b3,
                3px 2px 4px #b4b4b4c3;
}
.search_icons_container .search_icons .search_form .search_input:hover{
    /* border: 2px solid #a4a4a4; */
    border: 1px solid #8f8f8f;
    box-shadow: 3px 3px 4px #8a8a8ac3,
                3px 2px 4px #989898ce;
}
.search_icons_container .search_icons .search_form .download_btn{
    margin: 0;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor:pointer;
    border: 1px solid #ff0000;
    background-color: #ff0800;
    box-shadow: 1px 1px 4px #c2c2c2b3,
                2px 2px 4px #b4b4b4c3;
    color: #ffffff;
}
.search_icons_container .search_icons .search_form .download_btn:hover{
    background-color: #12078a;
    border: 1px solid #0b0180;
    box-shadow: 1px 3px 4px #9d9d9db3,
                3px 2px 4px #898989c3;
}

.search_icons_container .videos_list{

    position: relative;
    display: flex;
    justify-content: center;
    margin: 1rem 4rem;
    padding: 1rem 2rem;
    border-radius: 6px;
    /* border:2px solid #fbfbfb; */
    /* background-color: #fbfbfb; */
    /* background-color: #fd4242; */
    /* box-shadow: 1px 2px 4px #bfbfbfe7, */
                /* 1px 1px 4px #adadad; */
}
.search_icons_container .videos_list .video_Thumbnail_detail{
    margin: 1rem 1rem;
    padding: .3rem .3rem;
    position: relative;
    width: 15rem;
    min-width: 10rem;
    height: fit-content;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid #e4e4e4;
    
    
}
.search_icons_container .videos_list .video_Thumbnail_detail:hover{
    border: 1px solid #d4d4d4;
    box-shadow: 1px 2px 4px #e6e6e6d3,
                    1px 1px 4px #e5e5e5dd;
}
.search_icons_container .videos_list .video_Thumbnail_detail img{
    border-radius: 4px;
    width: 100%;
    height: auto;
    max-width: 100%;
    overflow: visible;
    /* background-color: #050d37; */
}
.search_icons_container .videos_list .video_Thumbnail_detail img:hover{
    filter: brightness(0.8);
    transition: all .4s ease-in-out;
}
.search_icons_container .videos_list .video_Thumbnail_detail p{
    font-size: 1.1rem;
    font-weight: 500;
    margin: .8rem .3rem;
    position: relative;
    display: flex;
    justify-content: center;
    /* background-color: #0b0180; */
}
.search_icons_container .videos_list .video_Thumbnail_detail:hover p:nth-child(2) {
    /* background-color: red; */
    color: #0e0758;
    transition: all .4s ease-in;
}

.search_icons_container .videos_list .video_Thumbnail_detail:hover p:nth-child(3){
    color: #ff0000;
    transition: all .4s ease-in;
}
.search_icons_container .videos_list .video_download_format{
    position: relative;
    padding: .5rem .5rem;
    width: 32rem;
    min-width: 28rem;
    /* background-color: rgb(152, 255, 126); */
}

.search_icons_container .videos_list .video_download_format .content{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: .3rem .6rem;
    margin: .5rem .2rem;
    border:1px solid #bebebe;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px #cacacaf7,
                1px 1px 4px #c4c4c4ea;
    transition: all .3s ease-in;
}
.search_icons_container .videos_list .video_download_format .content:hover{
    transform: scale(.99);
}
.search_icons_container .videos_list .video_download_format .content:nth-child(2n+1){
    background-color: #bcffe9;
}
.d-btn{
    border: 1px solid #ff0015;
    border-radius: 7px;
    box-shadow: 1px 2px 4px #eeeeeef7,
                1px 1px 4px #eaeaeaea;
    background-color: rgb(255, 0, 47);
    color: #ffffff;
    cursor: pointer;
    

}
.d-btn:hover{
    border: 1px solid #130984;
    background-color: #12078a;
    box-shadow: 1px 2px 4px #c2c2c2f7,
                1px 2px 4px #bababaea;
}

.video_download_format .content path,p,h3,button{
    padding: .4rem .5rem;
    
}

.content .resolution{
    width: 7rem;
    margin: 0;
    /* background: rgb(0, 208, 255); */
}
.content .type{
    width: 7.5rem;
    margin: 0;
    /* background: yellow; */
}
.content .filesize{
    width: 6rem;
    margin: 0;
    /* background: rgb(0, 255, 8); */
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap:1.5rem;
    /* margin: 0; */
    position:relative;
    /* top: 6rem; */
    padding: 2rem 10rem;
    /* background: linear-gradient(0deg, #0015ffb6, #5e30dc); */
    /* background: #dbdbdb; */
    /* background-color: red; */
}

.icons-container .icons{
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:1rem 1rem;
    height: 10rem;
    gap:1.5rem;
    background:#fff;
}

.icons-container .icons i{
    height:5rem;
    width:5rem;
    line-height:5rem;
    font-size:2.5rem;
    color:var(--black);
    background:#eee;
    text-align: center;
    border-radius: 50%;
}

.icons-container .icons .content h3{
    font-size: 2.5rem;
    color:var(--yellow);
}

.icons-container .icons .content p{
    font-size: 1.5rem;
    color:var(--light-color);
}

.icons-container .icons:hover{
    background:var(--black);
}

.icons-container .icons:hover i{
    background:var(--yellow);
}

.icons-container .icons:hover .content h3{
    color:#fff;
}

.icons-container .icons:hover .content p{
    color:#eee;
}



/* footer */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    position: relative;
    /* top: 8rem; */
    margin: 3rem 0 0 0;
    padding: 1rem 0 0 0;
    /* background-color: red; */
}
.footer .all_rights_reserved{
    margin: 1rem 0 0 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    /* background-color: 190453; */
    background-color: #050d37;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	/* position: relative; */
    border-bottom: 3px solid red;
    position: absolute;
    /* background-color: red; */
}
/* .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: red;
	height: 2px;
	box-sizing: border-box;
	width: 60px;
} */
/* .footer-col ul li:not(:last-child){
	margin-bottom: 10px;
} */
.footer-col ul{
    margin: 3rem 0 0 0;
}
.footer-col ul li{
    padding: .5rem 0;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	color: #bbbbbb;
    border-bottom: 2px solid #24262b;
    /* width: 10rem; */
    /* background-color: red; */
	transition: all 0.5s ease;
    
}

.footer-col ul li a:hover{
    color: #ffffff;
    /* background-color: red; */
    padding: 0 .2rem;
    cursor: pointer;
    color: #fff41b;
    border-bottom: 2px solid red;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin: 3rem 0 0 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	/* transition: all 0.5s ease; */
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}